{% extends "layout.html" %}
{% block title %}Simulateur de portefeuille d'investissement{% endblock %}

{% block content %}
<div class="container  mt-5">

  <!-- Form -->
  <div id="form-section"
       {% if portfolio is defined and portfolio %}
         style="display: none;"
       {% else %}
         style="display: block;"
       {% endif %}>
    <form method="POST" class="bg-white p-4 rounded shadow-sm mb-5">
      {% include 'form.html' %}
      {% if error %}
        <p class="text-danger mt-3 text-center">{{ error }}</p>
      {% endif %}
    </form>
  </div>

  <!-- Analysis -->
  {% if portfolio %}
    {% include 'resume.html' %}
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toggleBtn = document.getElementById('toggleFormBtn');
    const formSection = document.getElementById('form-section');

    if (toggleBtn && formSection) {
      toggleBtn.addEventListener('click', function() {
        formSection.style.display = (formSection.style.display === 'none') ? 'block' : 'none';
        window.scrollTo({ top: formSection.offsetTop - 100, behavior: 'smooth' });
      });
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const links = document.querySelectorAll('.nav-pills .nav-link');

    links.forEach(link => {
      link.addEventListener('click', function () {
        links.forEach(l => l.classList.remove('active'));
        this.classList.add('active');
      });
    });
  });
</script>
{% endblock %}
